<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotics Hut - Blogs and Projects</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!--Bootstrap Script for the Modal-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0008C1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white;">The Robotics Hut</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex flex-lg-row-reverse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/student/homepage">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/contact">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/blogsandprojects">Blogs and Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/FAQs">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <h2 style="padding: 10px">Our Blogs and Projects</h2>
        <div class="row" style="padding-top:20px;">
            <img src="/images/MicrosoftTeams-image-(9).png" class="card-img-top center-h rounded-3" alt="..."
                style="width: 100%;padding-bottom:20px">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ad velit doloribus
                atque pariatur, facere architecto accusamus iure tenetur neque facilis aliquam est reiciendis, ratione
                aut distinctio suscipit laudantium debitis?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                soluta, qui laborum voluptatum maxime ullam harum, veniam, reiciendis ea minima repellat iste commodi in
                mollitia quia. Impedit placeat sed dolor. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Debitis est culpa cupiditate possimus nesciunt totam ipsam distinctio, eius magnam sed, dolore vero
                error minus et enim autem fugiat, mollitia maxime?</p>
        </div>
    </div>

    <div style="padding:20px">
        <h3>Check out what others have been sharing!<h3>
    </div>
    
    <div style="padding:20px">
        <!--Dynamically created Blog Cards-->
        <div class="row row-cols-1 row-cols-md-2" id="newblogs-generate">
            <!--Dynamically Cards will be generated here...-->
        </div>
    </div>

    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger"></button>
    <div class="container mt-3">
        <div class="row center" style="padding-top:20px;"></div>
            <h3>Do you want to add in something interesting?</h3>
            <p>Feel free to share something new for everyone to learn: </p>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#blogModal"> Care to share with us?</button>
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="blogModal">
         <div class="modal-dialog">
             <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                       <h4 class="modal-title">Let's get started!</h4>
                       <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                      <form>
                          <!--Project Details Inserted here!-->
                          <div class="input-field column s12">
                              <label for="name">Name of the Author: </label>
                              <input name="name" id="blog-name" type="text" required>
                          </div>
                          <br />
                          <div class="input-field column s12">
                              <label for="title">Title of the Blog: </label>
                              <input name="title" id="blog-title" type="text" required>
                          </div>
                          <br />
                          <div class="input-field column s12">
                              <label for="image">Image URL: </label>
                              <input name="image "id="blog-image" type="text" required>
                          </div>
                          <br />
                          <div class="input-field column s12">
                              <label for="description">Text: </label>
                              <textarea name="description" id="blog-description" type="text" width="300" height="300" required></textarea>
                          </div>
                      </form>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                       <button onclick="newBlog()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Submit Project</button>
                  </div>
             </div>
         </div>
    </div>

    <br><br>
    <!-- Quiz -->
    <div class="container mt-3">
        <div class="row center" style="padding-top:20px;"></div>
            <h3>Do you call yourself a Robotics Engineer?</h3>
            <p>Let's put your wits to the test with a simple Robotics Quiz! </p>
            <button type="submit" onclick="location.href = '/student/Quiz';" class="btn btn-primary"> Go to the Quiz! </button>
    </div>

    <br><br><br>
    <footer class="footer mt-1 py-3 bg-light text-center">
        <div class="container">
            <span class="text-muted">Copyright &copy; Robotics Hut</span>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

     <!--Popper.js-->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
             integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
             crossorigin="anonymous"></script>

     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

     <script src="../js/blogcreator2.js"></script>
</body>
</html>